<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include ../../partials/common.ejs %>
	<title>Squad Server Manager</title>
</head>

<body class="bg-dark text-white">
	<%- include ../../partials/navbar.ejs %>

	<% if (user) { %>
	<div>
		<a class="d-inline-block py-4 px-4 h-100" href="/gameservers/<%=gameserver.Id%>/view">&lt; Back</a>
		<h4 class="d-inline-block">MOTD.cfg</h4>
	</div>
	<div class="w-75 mx-auto mt-4">
		<p>
			What you see is what you get<br>
			<small>You can insert links like this: &lt;a href="URL"&gt;TEXT&lt;/a&gt; </small>
		</p>
		<form action="/gameservers/<%= gameserver.Id %>/config/motd" method="POST">
			<textarea class="mx-auto form-control text-nowrap" name="MOTD" id="" rows="10" style="width: 706px; font-family:'Roboto', sans-serif; font-size: 0.8em; word-spacing: 0.3em;" wrap="hard"><%= gameserverconfig_motd %></textarea>
			<button type="submit" class="btn btn-primary w-100 mt-4">Submit</button>
		</form>
	</div>
	<script>
		$(function ()
		{
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>
	<% } else { %>
	<!-- !user -->
	<%- include ../../partials/login.ejs %>
	<% } %>
</body>

</html>