<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include ../partials/common.ejs %>
	<title>Squad Server Manager</title>
</head>

<body class="bg-dark text-white">
	<%- include ../partials/navbar.ejs %>

	<% if (user) { %>

	<h3 class="mx-5 my-3">You are editing server instance <%= gameserver.Id %></h3>
	<h5 class="mx-5 mb-3">Installed at <%= gameserver.InstallationRoute %></h5>
	<div class="row">
		<form id="configForm" action="/gameservers/<%= gameserver.Id %>/config" method="POST" class="col-10 col-md-6 mx-auto needs-validaton" novalidate>
			<div class="form-group">
				<label for="ServerNameInput" data-toggle="tooltip" data-placement="right" title="This name is only for you, it is not the name shown on the server browser">Server name *</label>
				<input type="text" class="form-control" id="ServerNameInput" name="ServerName" value="<%= gameserver.ServerName %>" required>
			</div>
			<div class="col-12 row p-0 m-0">
				<div class="form-group col-6 pl-0">
					<label for="PortInput" data-toggle="tooltip" data-placement="right" title="The game port">Port *</label>
					<input type="number" class="form-control" id="PortInput" name="Port" value="<%= gameserver.Port %>" required>
				</div>
				<div class="form-group col-6 pr-0">
					<label for="QueryPortInput" data-toggle="tooltip" data-placement="right" title="The Steam query port">Query port *</label>
					<input type="number" class="form-control" id="QueryPortInput" name="QueryPort" value="<%= gameserver.QueryPort %>" required>
				</div>
			</div>
			<div class="col-12 row p-0 m-0">
				<div class="form-group col-6 pl-0">
					<label for="FixedMaxPlayersInput" data-toggle="tooltip" data-placement="right" title="Player count cannot go higher than this">Fixed max players</label>
					<input type="number" class="form-control" id="FixedMaxPlayersInput" name="FixedMaxPlayers" value="<%= gameserver.FixedMaxPlayers ? gameserver.FixedMaxPlayers : "" %>">
				</div>
				<div class="form-group col-6 pr-0">
					<label for="FixedMaxTickrateInput" data-toggle="tooltip" data-placement="right" title="Maximum server tickrate">Fixed max tickrate</label>
					<input type="number" class="form-control" id="FixedMaxTickrateInput" name="FixedMaxTickrate" value="<%= gameserver.FixedMaxTickrate ? gameserver.FixedMaxTickrate : "" %>">
				</div>
			</div>
			<div class="col-12 row p-0 m-0">
				<div class="form-group col-6 pl-0">
					<label for="RandomInput" data-toggle="tooltip" data-placement="right" data-html="true" title="Randomize maprotation.cfg<br><b>ALWAYS:</b> maps will be scrambled always<br><b>FIRST:</b> scamble first map, then follow rotation<br><b>NONE:</b> use the exact order on maprotation.cfg">Random *</label>
					<select class="custom-select" id="RandomInput" name="Random" required>
						<option value="ALWAYS" <%= gameserver.Random == "ALWAYS" ? "selected" : "" %>>Always</option>
						<option value="FIRST" <%= gameserver.Random == "FIRST" ? "selected" : "" %>>First</option>
						<option value="NONE" <%= gameserver.Random == "NONE" ? "selected" : "" %>>None</option>
					</select>
				</div>
				<div class="form-group col-6 pr-0">
					<label for="PreferPreprocessorInput" data-toggle="tooltip" data-placement="right" title="CPU Affinity in hexadecimal">Prefer preprocessor</label>
					<input type="text" class="form-control" id="PreferPreprocessorInput" name="PreferPreprocessor" value="<%= gameserver.PreferPreprocessor ? gameserver.PreferPreprocessor : "" %>">
				</div>
			</div>
			<div class="form-check col-12 my-1">
				<input type="checkbox" class="form-check-input" id="LogInput" name="Log" <%= gameserver.Log ? "checked" : "" %>>
				<label for="LogInput" class="form-check-label" data-toggle="tooltip" data-placement="right" title="">Log</label>
			</div>
			<div class="form-check col-12 my-1">
				<input type="checkbox" class="form-check-input" id="FullCrashDumpInput" name="FullCrashDump" <%= gameserver.FullCrashDump ? "checked" : "" %>>
				<label for="FullCrashDumpInput" class="form-check-label" data-toggle="tooltip" data-placement="right" title="">Full crash dump</label>
			</div>
			<button type="submit" class="btn btn-primary mx-auto col-12 mt-1">Submit</button>
		</form>
		<script>
			$(function ()
			{
				$('[data-toggle="tooltip"]').tooltip()
			});
			(function ()
			{
				window.addEventListener('load', function ()
				{
					var myForm = document.getElementById('configForm');
					myForm.addEventListener('submit', function (event)
					{
						console.log(myForm.checkValidity());
						if (myForm.checkValidity() === false)
						{
							event.preventDefault();
							event.stopPropagation();
						}
						myForm.classList.add('was-validated');
					}, false);
				}, false);
			})();
		</script>
	</div>

	<% } else { %>
	<!-- !user -->
	<%- include ../partials/login.ejs %>
	<% } %>
</body>

</html>